<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.webServer>

    <staticContent>
      <clientCache 
        cacheControlMode="UseMaxAge" 
        cacheControlMaxAge="7.00:00:00" />
    </staticContent>


    <rewrite>

      <rules>


        <!-- Allow DRMW React Application -->
<rule name="Exclude drmw folder" stopProcessing="true">

    <match url="^drmw(/.*)?$" />

    <action type="None" />

</rule>



        <!-- Main Next.js Website Rewrite -->

        <rule name="SPA Root Rewrite" stopProcessing="true">

          <match url=".*" />


          <conditions logicalGrouping="MatchAll">


            <!-- Existing files -->
            <add 
             input="{REQUEST_FILENAME}" 
             matchType="IsFile" 
             negate="true" />


            <!-- Existing folders -->
            <add 
             input="{REQUEST_FILENAME}" 
             matchType="IsDirectory" 
             negate="true" />


          </conditions>


          <action 
             type="Rewrite" 
             url="/index.html" />

        </rule>


      </rules>

    </rewrite>


  </system.webServer>

</configuration>