<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Cache static files -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>

    <rewrite>
      <rules>

        <!-- SPA Rewrite, but EXCLUDE Booking folder -->
        <rule name="SPA Root Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">

            <!-- Do not rewrite requests going to /Booking -->
            <add input="{REQUEST_URI}" pattern="^/Booking" negate="true" />

            <!-- Do not rewrite if file exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

            <!-- Do not rewrite if directory exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>

          <!-- Always send to root index.html for SPA routing -->
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
